<html>
	<body>
		<form action="{{url_for('addrec')}}" method="POST">
			<h3>Add New Record</h3>
			Name<br>
			<input type="text" name="name"/><br>
			Brand<br>
			<textarea type="text" name="brand_name"></textarea><br>
			Reg_p_v<br>
			<input type="text" name="regular_price_value"><br>
			offer_p_v<br>
			<input type="text" name="offer_price_value"><br>
			currency<br>
			<input type="text" name="currency"><br>
			cl1<br>
			<input type="text" name="classification_l1"><br>
			cl2<br>
			<input type="text" name="classification_l2"><br>
			cl3<br>
			<input type="text" name="classification_l3"><br>
			cl4<br>
			<input type="text" name="classification_l4"><br>
			<input type="submit" name="submit"><br>
		</form>
	</body>
</html>